################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LARPortalUI/obj/Debug/Package/PackageTmp
/LARPortalUI/obj/Debug/TransformWebConfig
/LARPortalUI/obj
/LARPortalUI/bin
/LARPortalUI/Events/Events.zip
/LARPortalUI/img/IBSkill
