################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LARPortalUI/obj/Debug/Package/PackageTmp
/LARPortalUI/obj/Debug/TransformWebConfig
/LARPortalUI/Character/ISkills/Requests.aspx
/LARPortalUI/Character/ISkills/Requests.aspx.cs
/LARPortalUI/Character/ISkills/Requests.aspx.designer.cs
/LARPortalUI/Events/Events.zip
