################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LARPortalUI/obj/Debug/Package/PackageTmp
/LARPortalUI/obj/Debug/TransformWebConfig
